* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  user-select: none;
}
:root {
  --main-font-light: rgb(8 7 104 / 55%);
  --main-font-dark: rgba(255, 255, 255, 0.795);
  --main-padding-sections: 1rem;
}
body {
  font-family: "Roboto", sans-serif;
  background-image: linear-gradient(rgb(0, 200, 255), rgb(0, 81, 255));
  background-repeat: no-repeat;
  min-height: 100vh;
}
body.dark {
  background-image: none;
  background-color: rgb(27, 38, 41);
  color: var(--main-font-dark);
}
/******** start header *******/
.header {
  background-image: linear-gradient(rgb(0, 200, 255), rgb(0, 81, 255));
  position: relative;
  padding: 1rem 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: var(--main-font-light);
  font-size: 1rem;
  font-weight: bold;
  box-shadow: 2px 1px 5px 0px #7d6565;
  position: sticky;
  top: 0;
}
.header.dark {
  background-image: none;
  background-color: rgb(27, 38, 41);
  color: var(--main-font-dark);
}
@media screen and (max-width: 520px) {
  .header {
    flex-direction: column;
    gap: 10px;
  }
  .toggle-mode {
    position: absolute;
    font-size: 10px;
    top: 10px;
    right: 10px;
  }
}
.logo {
  width: 35px;
  border-radius: 19px;
  position: absolute;
  left: 10px;
  top: 17px;
}
.search {
  position: relative;
}
.search input {
  width: 13rem;
  padding: 0.5rem 1rem;
  outline: none;
  border: none;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.176);
  color: white;
  font-size: 1rem;
}
.search input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.779);
  font-size: 1rem;
}
#search-icon {
  position: absolute;
  top: 30%;
  right: 10%;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.779);
}
.toggle-mode {
  text-align: center;
  padding: 0.5rem;
  color: var(--main-font-light);
  border: 2px solid rgba(255, 255, 255, 0.607);
  border-radius: 30px;
  cursor: pointer;
  transition: box-shadow 0.3s;
}
.toggle-mode:hover {
  box-shadow: inset 0 0 7px 0px;
}
.toggle-mode.dark {
  color: var(--main-font-dark);
}
/******** end header *******/
/******** start day *******/
.day-weather {
  padding: var(--main-padding-sections) 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: var(--main-font-light);
  box-shadow: inset 0px 3px 8px 0px;
}

.day-weather div {
  height: 7rem;
}
.day-weather.dark {
  color: var(--main-font-dark);
  box-shadow: inset 0px 3px 8px 0px #7d6565;
}
.day-status {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.day-temprature {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.day-temprature i {
  font-size: 3rem;
  color: yellow;
}

.day-winds {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.day-winds i {
  font-size: 2rem;
  color: white;
}

.day-winds span {
  padding-top: 1.2rem;
}
.week-weather {
  padding: var(--main-padding-sections) 0px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.week-weather .week-day {
  color: var(--main-font-dark);
  font-size: 0.9rem;
  padding: 0.8rem;
  text-align: center;
  box-shadow: 2px 1px 3px 0px;
  cursor: pointer;
  border-radius: 10px;
}
.week-weather .week-day.dark {
  box-shadow: 2px 1px 3px 0px #7d6565;
}
.week-weather .week-day p {
  padding-top: 2px;
}
/* hours section */
.hours-weather {
  padding-top: var(--main-padding-sections);
  display: flex;
  flex-direction: column;
}
.hours-weather .hour {
  display: flex;
  flex-direction: column;
}
.hours-weather .hour .hour-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid #7d656554;
  color: var(--main-font-dark);
}
.hours-weather .hour.hide {
  display: none;
}

/* scrollbar styling */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-thumb {
  background-color: #7d6565;
}
